body {
    font-family: Arial, sans-serif;   
    line-height: 1.6;                 
    color:  rgb(63, 63, 63);                      
    margin: 0;
    padding: 0;
}

body {
    background-color: #efdabf;        
}

header {
    background-image: url('../assets/img/Rappeling waterfall.png'); /* Header background image */  
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 3px 3px 3px  rgb(63, 63, 63);                   
}

h2 {
    font-size: 1.4rem;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 3px 3px 3px  rgb(63, 63, 63);                   
}

h3 {
    font-size: 1.4rem;
    color: rgb(63, 63, 63);                    
    margin-top: 15px;
}
nav {
    background-color: #ffffff;        
    padding: 10px 20px;
}

nav a {
    color: rgb(63, 63, 63);                    
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style-type: none;            
    display: flex;                   
    gap: 20px;                       
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a:hover {
    text-decoration: underline;       
}

p {
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 6px;
    text-align: center;
}
